<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change your dog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="wrapper">
        <button><a href="/">Home</a></button>
        <h1>Edit <%= dog[0].name %>!</h1>
        <img src="<%= dog[0].imageSrc %>" alt="<%= dog[0].name %>" class="profilePic">
        <form action="/prairie/<%= dog[0]._id %>" method= 'POST'>
            <input type="text" name="name" value="<%= dog[0].name %>">
            <input type="text" name="age" value="<%= dog[0].age %>">
            <input type="text" name="sex" value="<%= dog[0].sex %>">
            <input type="text" name="status" value="<%= dog[0].status %>">
            <input type="submit" value="Submit Changes">
        </form>
        <form action="/prairie/destroy/<%= dog[0]._id %>" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div>
</body>
</html>